/* main.css */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {

      margin-top: 20px;
      padding-top: 20px;

      font-family: 'Roboto', sans-serif;

      background-image: url("./../img/avtosalon1.jpg");
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover; 
      color: black;   
}
